PORT=8099
MONGODB_URI=mongodb://localhost:27017/wmt_garage_db
MONGODB_URI_FALLBACK=mongodb+srv://heshan-dilanka:heshan1235phd@cluster0.0esauew.mongodb.net/?appName=Cluster0
JWT_SECRET=change_this_secret_in_production
CORS_ORIGIN=*